
<div class="container">
<h2>Sign up</h2> 

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "full-name" %>
  </div>

  <div class="form-group">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "address" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <em>(Phone number lenght must be 10)</em><br />
    <%= f.text_field :phone, autocomplete: "phone" %>
  </div>
  <div class="form-group">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class=>"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>