<div class="container">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% if current_user.isadmin?%>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @user.each do |userdetail| %>
      	<tr>
      	    <td><%= image_tag url_for(userdetail.picture), :style=>"width: 40px; height: 40px;"  if userdetail.picture.attached? %></td>
      	    <td><%= userdetail.name %></td>
      	    <td><%= userdetail.phone %></td>
      	    <td><%= userdetail.address %></td>
      	    <td><%= link_to "Edit", edit_user_path(userdetail) %></td>
      	</tr>
        <%end%>
      </tbody>
    </table>
    <%end%>
  <% else %>
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
        </li>
      </ul>
    </nav>
  <% end %>
</div>