
<!-- Edit each user by admin so created the contrelloer andthe view for that can't use the devose edit form -->
<div class="container">
<h2>Edit User</h2>

  <%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, :disabled => true %>
  </div>

  <div class="form-group">
    <%= f.label :address %><br />
    <%= f.text_field :address , :disabled => @user.isadmin==true %><!-- disabled when user is not admin -->
  </div>
  <% if @user.isadmin!=true%>
  <div class="form-group">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>
  <%end%>
  <div class="form-group">
    <%= f.label :profile_picture %><br />
    <%= image_tag url_for(@user.picture), :style=>"width: 80px; height: 80px;"  if @user.picture.attached? %>
  </div> 
  <div class="form-group">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :disabled =>  @user.isadmin!=true %> <!-- disabled when user is admin -->
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, :disabled => true %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class=>"btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
</div>